  <footer class=" bg text-center  text-lg-start">
    <div class="container">
      <br>
                <ul class="list-unstyled" class="nav justify-content-center">
                    <li class="nav-item">
                      <a href="#!" routerLink="/contactUs" >Contact Us</a></li> &nbsp;&nbsp;&nbsp; 
                      <li><a href="#!" routerLink="/privacypolicies" >Privacy Policy</a></li>&nbsp;&nbsp;&nbsp;
                  </ul>
                  <br>
                  <p> Socials</p>  
                  
                  <ul class="list-unstyled" class="nav justify-content-center">
                    <li class="nav-item">
                      <a href="https://www.facebook.com" ><img src="../assets/facebook.png" width="15%"></a></li> &nbsp;
                    <li class="nav-item">
                      <a href="https://www.twitter.com" ><img src="../assets/twitter.png" width="15%"></a></li> &nbsp;
                      <li class="nav-item">
                        <a href="https://www.instagram.com" ><img src="../assets/insta.jpg" width="15%"></a></li> &nbsp;
                  </ul>
                  <br><br>

                  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" width="100vh">
                    © 2020 Copyright: All rights reserved.   
                    <a class="text-light" href="https://boeing.com/">www.Boeing.com</a>
                  </div>
    </div>
</footer>

