<div class="example-container"> 
    <nav class="navbar navbar-expand-sm  bg ">
      <img src="../assets/Boeinglogo.png" alt="" height="70vh">
            <h1 style="color: white;"> Boeing Air Trip</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
              <span class="navbar-toggler-icon "> <img src="../../assets/toggler.png" alt="" height="15vh"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                  <ul class="navbar-nav ml-auto ">
                    <li class="nav-item "><a class="nav-link" href="#" routerLink="/">Home</a></li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><img src="../assets/user.jpg" alt="" height="30vh"> User</a>
                        <div class="dropdown-menu  bg">
                            <a class="dropdown-item " href="#" routerLink="/logout" >Logout</a>
                          </div>
                    </li>
                    
                  </ul>  
            </div>
    </nav>
</div>    
